// Place all the styles related to the Admin::AuditLogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "jquery-ui";
//@import "select2";
//@import "select2/select2-bootstrap";
@import "bootstrap-datetimepicker/bootstrap-datetimepicker.min";
@import "admin/base";

.container-fluid {
  padding: 15px 0;
  .col-md-2, .col-md-10 {
    padding: 0;
  }
}

.select2-container.select2Input.gmr-select2.select2-container-disabled{
  .select2-choice, .select2-choices {
    background-color: #d8d8d8;
  }
}

.employer {
  color: #474C55;
  height: 25px;
  padding: 5px 0 0 10px;
  width: 100px;
  margin-bottom: 10px;
  background-color: #BBC9E1;
  border-left: 2px solid #3E75C1;
}

.carrier, .dataentry {
  color: #474C55;
  height: 25px;
  width: 100px;
  padding: 5px 0 0 10px;
  margin-bottom: 10px;
  background-color: #EEC2AB;
  border-left: 2px solid #FC5510;
}

.company_name {
  color: #474C55;
}

.company_owner {
  color: #333333;
  margin-bottom: 10px;
}

.work_summary {
  font-size: 15px;
  color: #474C55;
  margin-bottom: 10px;
}

.greyText {
  color: #BFBFB6;
}

.font13 {
  font-size: 13px;
}

.font15 {
  font-size: 15px;
}

.font18 {
  font-size: 18px;
}

.font-medium {
  font-weight: 500;
}

.margin-left-20 {
  margin-left: 20px;
}

.dateTime {
  color: #AEAEB7;
  padding: 10px 0;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.entities {
  min-height: 35px;
  font-size: 25px;
  color: #474C55;
}


.audit_log_wrap {
  .dropdown ul {
    margin: -1px 0 0 0;
  }

  .dropdown div {
    // position:relative;
  }

  .dropdown a,
  .dropdown a:visited {
    color: #FFF;
    text-decoration: none;
    outline: none;
  }

  .dropdown div a {
    background-color: #353E4C;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    border-radius: 3px;
  }
}
.glyphicon-triangle-bottom {
  cursor: pointer;
  display: inline-block;
  top: 5px;
}

.dropdown div ul {
  background-color: #353E4C;
  border: 0;
  border-radius: 3px;
  color: #fff;
  z-index: 1;
  left: 0px;
  padding: 10px;
  border-top: 10px solid white;
  width: 330px;
}

.dropdown div ul li a {
  padding: 5px;
  display: block;
}

.dropdown div ul li a:hover {
  background-color: #fff;
}

.whiteBorderBottom {
  border-bottom: 1px solid #FFF;
}

select {
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  height: 50px;
  width: 260px;
  background-color: #353E4C;
  color: #FFFFFF;
}

.mutliSelect{
  display: none;
  border: 1px solid #E5E5E5;
ul {
  margin-left: 15px;
  li {
  margin-bottom: 10px;
  }
}
}

a.selected {
  background-color: #1F75CC;
  color: white;
  z-index: 100;
}

.advanced_filter_content {
  background-color: #FFFFFF;
  cursor: default;
  display: none;
  text-align: left;
  z-index: 1;
  padding: 15px 0 0 0;
  right: 0;
}

.advanced_filter_content p, .advanced_filter_content.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

.dropdown-menu {
  font-size: 16px;
}

.search_section {
  margin-top: 10px;
  padding:10px 30px 5px 30px;
  > ul {
    padding-left: 15px;
  }
  span.advance_filter {
    color: $brand-dark-orange;
    font-size: 14px;
    cursor: pointer;
  }
}

.customGmrButton {
  margin-right: 0;
  &.searchButton , &.apply_filters {
    padding:8px 30px;
    &:disabled {
      border-color: #9E9494;
      color: #D5CBCB;
    }
  }
  &.resetButton {
    padding: 8px 35px;
  }
}

.content {
  background: #fff;
}

.list__item {
  padding: 0;
  list-style: none;
  margin-top: 30px;
  &.search {
    float: left;
    margin-top: 20px;
  }
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 2px; left: 3px;
  font-size: 14px;
  color: $brand-dark-orange;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}




//
//.search_section .modalBack {
//  padding: 15px;
//}

.dropdown {
  .form-group {
    &:nth-last-child(2) {
      padding: 15px 0;
    }
    .apply_filters {
      margin-bottom: 15px;
    }
    label {
      color: black;
    }
    select {
      width: 100%;
    }
  }
  }
.noDataPresent {
  &.title {
    margin-top: 0px;
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 35%;
    font-weight: bold;
    &.centeralign {
      position: static;
      margin: 20px 0 0;
    }
  }
}
