// Place all the styles related to the Admin::Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

.admin-pageview {
  .mainWrapper {
    margin-bottom: 40px;
  }
}
