#templateContainer {
  display: table-row;
  min-width: 100%;
  float: left;

  .selectWrap.template-multi-select {
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    min-height: 45px !important;
    padding: 3px 5px;
    height: auto;

    &.disabled {
      cursor: not-allowed;
      background-color: #d8d8d8;
    }

    .open-options, .removeOption {
      display: none;
    }
  }

  .addNetwork {
    margin-right: 10px;
    cursor: pointer;
  }

  .tab-section.tab-content {
    margin-top: 5px;
    > .sheet {
      position: relative;
      background-color: white;

      > .templateSectionBar {
        position: absolute;
        width: 60px;
        left: -43px;
        top: 0px;
        .vertical-line {
          border-left: 1px solid #CCCCCC;
          height: 100%;
          position: absolute;
          left: 14px;
        }
        .nav-tabs {
          border-bottom: none;
          > li {
            border: 1px solid #CCCCCC;
            display: block;
            margin-bottom: 15px;
            background-color: #e7ecf1;
            border-radius: 42px;
            padding-top: 2px;
            position: relative;
            left: -6px;
            width: 42px;
            height: 42px;
            &:nth-child(n+10) {
              > a {
                padding: 7px 9px;
              }
            }
            a {
              padding: 7px 15px;
              color: #818181;
              &:hover {
                background: transparent;
                cursor: pointer;
                border-color: transparent;
              }
            }
          }
          > li:last-child {
            margin-bottom: 0px;
          }
        }
      }

      > .sheetActionsBar {
        display: inline-block;
        width: 100%;
        margin-top: 10px;

        > .addSection {
          cursor: pointer;
        }
      }

      .sheetContent {

        > div.section {
          min-width: 100%;
          display: block;

          &:first-child > .sectionHeader {
            margin-top: 15px;
          }

          > .scroll-content {
            display: block;
            width: 100%;
            > .sectionHeader {
              margin-top: 45px;

              > .dreadlocks {
                display: inline-flex;
                width: calc(50% - 45px);
                border-top: 1px solid #ccc;
                margin: 14px 15px;
                float: left;
              }

              > .numberSign {
                width: 30px;
                height: 30px;
                margin: auto;
                float: left;
                display: inline-flex;
                border: 1px solid #aaa;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                padding: 4px 9px;
                color: #ccc;
                position: relative;

                > .content {
                  position: absolute;
                  left: 0;
                  top: 50%;
                  height: 100%;
                  width: 100%;
                  text-align: center;
                  margin-top: -10px; /* Note, this must be half the font size */
                }
              }
            }


             .sectionContent {
              margin-top: 20px;
              overflow-x: scroll;
              width: 100%;

              .gmr-table {

                > thead {
                  > tr {
                    > th {
                      &.fieldAttribute {
                        min-width: 100px;
                        width: 100px;
                      }
                      > .columnContent {
                          word-break: break-all;
                        }
                      &.column , &.section {
                        > .columnContent {
                          margin: 12px 0px;
                          word-wrap: break-word;
                          display: inline;
                          word-break: break-all;
                        }
                        @-moz-document url-prefix() { //hack for firefox for breaking a lengthy word
                          .columnContent {
                            display: inline-block;
                          }
                        }
                        > .editColumn, .delete-icon{
                          cursor: pointer;
                          visibility: hidden;
                          opacity: 0;
                          transition: visibility 0s linear 0.2s, opacity 0.2s linear;
                          margin: 11.5px 10px;
                          color: #ccc;
                          display: inline;
                          > .glyphicon {
                            font-size: 16px;
                          }
                        }

                        &:hover {
                          > .editColumn, .delete-icon {
                            visibility: visible;
                            opacity: 1;
                            transition-delay: 0s;
                          }
                        }
                      }
                    }
                  }
                }

                > tbody {
                  > tr {
                    > td {

                      &.fieldAttribute {
                        min-width: 100px;
                        width: 100px;

                        > input {
                          margin: 0px calc(50% - 14px);
                        }
                      }
                    }
                    td.fieldContentWrap {
                      display: inline-flex;

                      > .fieldContent {
                        margin: 12px 0px;
                        word-break: break-all;
                        word-break: break-word;
                        display: inline;
                        min-width: 100px;
                      }
                      > .editField, .delete-icon {
                        cursor: pointer;
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 0s linear 0.2s, opacity 0.2s linear;
                        margin: 11.5px 10px;
                        color: #ccc;
                        display: inline;
                      }
                    }
                    &.field {
                      .input {
                        display: flex;
                        display: -ms-flexbox;
                            -ms-flex-direction: row;
                            -ms-flex-align: start;

                        > * {
                          float: left;
                        }

                        > .inputContent {
                          max-width: 100%;
                          input[type=text], input[type=number] {
                            height: 45px;
                            border: 1px solid #eee;
                            border-radius: 3px;
                          }
                          .form-control {
                            min-width: 194px;
                          }

                          > .multi-select-tpl-field {
                            width: 100%;
                            min-width: 184px;
                          }

                          &.mandatory {
                            display: flex;
                            display: -ms-flexbox;
                            div.selectWrap {
                              min-width: 120px;
                              max-width: 100%;
                              padding: 3px 0;
                            }
                          }
                          select {
                            width: auto;
                            display: inline-block;
                          }
                        }

                        > .editInput {
                          cursor: pointer;
                          visibility: hidden;
                          opacity: 0;
                          transition: visibility 0s linear 0.2s, opacity 0.2s linear;
                          margin: 11.5px 10px;
                          color: #ccc;
                        }
                      }

                      &:hover {
                        .input {
                          > .editInput {
                            visibility: visible;
                            opacity: 1;
                            transition-delay: 0s;
                          }
                        }

                        td.fieldContentWrap {

                          > .editField, .delete-icon {
                            visibility: visible;
                            opacity: 1;
                            transition-delay: 0s;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .addColumn, .addField {
            margin: 5px 0px;
            cursor: pointer;
          }

          &:first-child {
            th.column, th.section {
              .editColumn, .delete-icon {
                visibility: visible !important;
                opacity: 1 !important;
              }
            }
            tr.field:first-child {
              .editInput {
                visibility: visible !important;
                opacity: 1 !important;
              }

              td.fieldContentWrap {
                .editField, .delete-icon {
                  visibility: visible !important;
                  opacity: 1 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
