// Place all the styles related to the Admin::PlatformFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "admin/base";
@import "multiselect.min";

@import "main_templates";

#platform_files_dashboard {

  .createFormWrap, .searchFormWrap {
    margin-top: 20px;
    .form_container {
      width: 100%;
      margin: 0px;
      border-bottom: 1px solid #ccc;

      display: inline-block;
      > .field {
        margin: 0px;
        float: left;

        > label {
          color: #bbb;
          font-size: 12px;
        }

        > input.form_control {
          height: 50px
        }
      }
    }
  }

  input[type=submit] {
    float: right;
  }
}

.createFormWrap {
  .form_container {
    padding-bottom: 30px;

    > .field {
      padding-bottom: 20px;
    }

  }
}

.searchFormWrap {
  .form_container {
    > .field {
      padding-bottom: 20px;

      &.searchByNameField {

        > input[type=text] {
          padding-right: 50px;
        }

        > .glyphicon.glyphicon-search {
          color: #fff;
          background-color: #353E4C;
          height: 49px;
          width: 45px;
          border: 0px;
          border-radius: 0px 3px 3px 0px;
          font-size: 25px;
          padding: 12px 10px;
          float: right;
          position: absolute;
          top: 22px;
          right: 16px;
        }
      }
    }
  }
}

#searchResults {
  > .noDataPresent {
    background-color: transparent;
    &.title {
      margin-top: 10%;
    }
    &.content {
      margin-bottom: 10%;
    }
  }

  .img-loading {
    margin: 15% 0;
  }
}

#platform_file_edit {
  form {
    display: inline-block;
    width: 100%;
    input[type=submit] {
      margin-top: 20px;
    }
    #templateContainer {
      display: block;
      float: none;
    }
  }
  #platform_edit_form {
      .nav.nav-tabs.gmr-tabs li {
        margin-bottom: 1px;
        &.active {
          margin-bottom: 0;
        }
      }
      td {
        margin: 2px auto;
        position: relative;
      }
      td.field {
        .errorMessage {
          position: absolute;
          background-color: #FBFBFB;
          padding: 5px;
          box-shadow: 0px 0px 5px #ccc;
          z-index: 10000;
          margin: 0;
        }
      }
    }
}

.noDataPresent {
  background-color: inherit;
}

.noDataPresent.title {
  margin-top: 15%;
}

.noDataPresent.content {
  font-size: 15px;
}
