// Place all the styles related to the Admin::Templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "dragtable";
@import "admin/base";
@import "multiselect.min";
@import "main_templates";

#editInputTabs {
  .tab-content {
    margin-top: 10px;
  }
  input[type="checkbox"] {
    display: inline;
    height: auto;
    width: auto;
  }
  .form_control.deactive-check {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
  }
}

.note {
  margin-top: 0px;
}

.popover.add-template {
  width: 334px;
}
.popup-div.popover.input-template {
  z-index: 100000;
}

.popover.input-template {
  width: 290px;
}

.popover.bottom, .popover.left, .popover.right, .popover.top {
  max-width: 100%;
  border: none;
  box-shadow: none;
  background-color: #333;

  > .arrow {
    border: none;
  }

  > .popover-content {
    color: #fff;

    form {
      > .field {
        display: inline;
        float: left;
        margin-right: 10px;

        > input {
          color: #000;
          width: 250px;
          font-size: 16px;
          height: 33px;
          border-radius: 3px;
          border: none;
          outline: none;
          padding: 2px 5px;
        }
        > input.form-control.add-network-section, input.form-control.add-section{
          width: 248px;
        }
      }
    }
  }
}

.popover.bottom {
  > .arrow {
    &:after {
      border-bottom-color: #333;
    }
  }
}

.popover.top {
  > .arrow {
    &:after {
      border-top-color: #333;
    }
  }
}

.popover.left {
  > .arrow {
    &:after {
      border-left-color: #333;
    }
  }
}

.popover.right {
  > .arrow {
    &:after {
      border-right-color: #333;
    }
  }
}

.popover.bottom {
  > .arrow {
    &:after {
      border-top-color: #333;
    }
  }
}

.popover {
  .form_container {
    width: 100%;
    margin-bottom: 10px;

    .field {
      margin-bottom: 5px;

      > label:not(.uploadLogo) {
        color: #fff;
        line-height: 13px;
      }

      > textarea {
        width: 100%;
        height: 100px;
      }
    }
  }
}

.gmr-table {
  th.fieldAttribute {
    min-width: 100px;
    width: 100px;
  }
  > tbody {
    > tr {
      > td {
        .fieldAttributeInput {
          margin: 0px calc(50% - 14px);
        }
      }
    }
  }

  th {
    min-width: 200px;
  }
}

.glyphicon:focus {
  outline: none;
}

.content-header {
  .template-header {
    width: 50%;
  }
}

.leftPanelSectionCount {
  height: 300px;
  border-left: 1px solid black;
  position: absolute;
  left: 40px;

}

span.custom-dropdown {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 3px;
}

span.custom-dropdown select {
  //width: 115%; //TODO: Radhe, Saloka: Maybe should only be done for FF and not for all browsers. Looks good on Chrome, but may not look good on others.
  background-image: none;
  -webkit-appearance: none;
  border: none;
}

.template_actions_wrapper {
  margin-top: 20px;
  > a {
    margin-right: 15px;
  }
}

.noDataPresent {
  background-color: inherit;
}

.noDataPresent.content {
  margin-bottom: 1% !important;
  margin-top: 0 !important;
}

td.actions {
  width: 92px;
}
.newversion_container {
  margin-bottom: 40px;
}
.linkScrollToTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 60px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: rgba(255, 255, 255, .5) ;
  z-index: 9;
}
.table-templates th {
  min-width: auto;
}
.popover.input-template {
  height: 338px;
}
.popover-content form .form_container .field .form_control:not(.select2Input), .popover-content form .form_container .field textarea:not(.select2Input) {
  padding: 2px 12px;
}
.popover-content form .form_container .field textarea {
  min-height: 90px;
  max-height: 90px;
}
#templateContainer .field span.custom-dropdown--black select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}
.delete-icon {
  cursor: pointer;
}

.delete-field, .delete-column, .delete-section {
  font-size: 15px;
}
.delete-section{
  margin-left: 5px;
  margin-top: 10px;
  color: #ccc;
}
.template_tabs li {
  width: auto;
  a {
    display: inline-block;
    padding: 5px 15px !important;
  }
}
