/*
 Variables Singleton wrapper.

 Author: Harshniket
 Review:
 */
var GMR = (function (GMR) {

  GMR.Variables = (function () {
    var instance;

    function createInstance() {
      return _Variables;
    }

    return {
      get: function () {
        if (!instance) {
          instance = createInstance();
        }
        return instance;
      }
    };
  })();

  return GMR;
})(GMR);

/*
 Helper Functions.
 Author: Harshniket
 Review:
 */
var _Variables = {
  loading_image: function(){
    return '<img src="<%= image_path("common/loading.gif") %>" class="img-loading">'
  }
};