
@import 'employer/plan_design_sliders_form';

body {
  font-family: $font-family-Helvetica;
  // font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.gmr-mask {
  display: none;
  position: fixed;
  z-index: 1102;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=40);
  -khtml-opacity: .40;
  -moz-opacity: .40;
  opacity: .40;
  top: 0;
  left: 0;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.gmr-maskLoder {
  height: 35px;
  left: 50%;
  position: fixed;
  background-repeat: no-repeat;
  top: 40%;
  width: 35px;
  display: none;
  z-index: 1102;
}
.bootstrap-datetimepicker-widget {
  table td.disabled, table td.disabled:hover {
    color: #ccc;
  }
  table td.active, table td.active:hover, table td span.active {
    background-color: #fc5510;
    color: #ffffff;
  }
}
.popup_alert{
  padding: 2px 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
}
.form-control.select2-container.select2-container-disabled {
  .select2-choice {
    background-color: #d8d8d8;
  }
  .select2-container.select2-container-disabled .select2-choices {
    background-color: #d8d8d8;
  }
}
.alignleft {
  text-align: left;
}
.dt{
  display: table;
  width: 100%;
  .dit {
      display: inline-table;
      vertical-align: bottom;
      float: none;
  }
}
.rel {
  position: relative;
}
.textwrap {
  word-wrap: break-word;
  white-space: normal;
}

.notify-alert {
  text-align: center;
  border-radius: 0px;
}

.flash-notice {
  border-radius: 0px;
}

.p15 {padding: 15px;}
.mb15{
    margin-bottom: 15px;
}
.mt15{
    margin-top: 15px;
}
.mr15{
    margin-right: 15px;
}
.mt5 {
  margin-top: 5px;
}
.ml15{
  margin-left: 15px;
}
.m0{
  margin: 0px;
}
.pr30 {
  padding-right: 30px;
}
.form_container {
  width: calc(100% / 1.8);
  margin: 0 0 45px 0;
  h2 {
    font-size: 24px;
    color: $brand-heading-color;
    margin: 0 0 0 -1px;
  }
  > .form_note {
    font-size: 15px;
    color: $brand-gray;
    margin-bottom: 20px;
  }

  .field {
    margin-bottom: 20px;
    > label:not(.uploadLogo) {
      display: block;
      font-size: 11px;
      color: $brand-heading-color;
    }
    .form_control:not(.select2Input) {
      display: block;
      width: 100%;
      height: 48px;
      padding: $padding-base-vertical $padding-base-horizontal;
      font-size: 15px;
      line-height: $line-height-base;
      color: $text-color;
      background-color: #fbfbfb;
      background-image: none;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      // @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
      @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
      @include input-size('.fcontrol', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $input-border-radius-large);
      &:focus {
        outline: none;
      }
      // @include form-control-focus();
      @include placeholder(#bababa);

      // Disabled and read-only inputs
      //
      // HTML5 says that controls under a fieldset > legend:first-child won't be
      // disabled if the fieldset is disabled. Due to implementation difficulty, we
      // don't honor that edge case; we style them as disabled anyway.
      &[disabled],
      &[readonly],
      fieldset[disabled] & {
        cursor: $cursor-disabled;
        background-color: $input-bg-disabled;
        opacity: 1;
      }
    }
    textarea {
      @extend .form_control;
      resize: none;
      min-height: 100px;
      max-height: 100px;
    }
  }
  .uploadContainer {
    display: inline-block;

    > * {
      float: left;
    }
    > .selectFileInfo {
      margin: 0px 10px;
      width: 300px;
      display: none;

      > * {
        float: left;
        line-height: 20px;
      }

      > .removeSelectedFile {
        cursor: pointer;
      }

      label {
        margin: 0px;
        margin-right: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: calc(100% - 20px);
      }
    }
    > .uploadLogo {
      @include button-size($padding-base-vertical, 45px, 14px, $line-height-base, 3px);
      @include button-variant($brand-dark-orange, $btn-primary-bg, $brand-dark-orange);
      text-transform: capitalize;
      display: inline-block;
      width: 188px;
      > input[type="file"] {
        display: inline-block;
        height: 0;
        width: 0;
        padding: 0;
      }
    }
  }

  .save_btn {
    @include button-size(12px, 45px, 13px, $line-height-base, 3px);
  }

}

.mandatory {
  &:after {
    content: "*";
    color: $brand-dark-orange;
    margin-left: 3px;
  }
}

// Custom ALERT (flash message) styles
.form_alert {
  font-size: 13px;
  margin: 5px 0 0 0;
  &.danger {
    color: #f95510;
  }
}

///////////

// Contact-support-modal

#contact-support-modal {
  font-size: 14px;
}

// Remember me checkbox alignment
input[id="admin_remember_me"] {
  position: relative;
  top: -1px;
}

///////////

// Style for list of employees on company and new employee index page
.overAuto {
  overflow-x: auto;
  padding: 0;
  table.queue_dash_table.table-striped {
    margin-bottom: 0;
  }
}

.gmr_details {
  font-size: 13px;
  background-color: white;
}


.employee_company_name {
  color: $brand-dark-orange;
}

.customGmrButton {
  display: inline-block;
  margin-top: 0;
  text-transform: uppercase;
  color: $brand-dark-orange;
  background-color: white;
  border: 1px solid #fc5510;
  border-radius: 3px;
  font-size: 11px;
  padding: 8px 12px;
  margin-right: 15px;
  &:hover {
    color: #fc5510;
    text-decoration: none;
  }
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.successMessage {
  color: green;
  font-size: 10px;
  margin-top: 5px;
  display: none;
}

.input-holder {
  > i {
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
    color: #DDD;
  }
}

.clickable {
  cursor: pointer;
}

.modal-backdrop.in {
  opacity: 0.7;
}

.modal-content {
  border-radius: 3px;
  box-shadow: none;
  max-height: 100%;
}

.noDataPresent {
  margin: auto;
  text-align: center;
  color: #9AA3AD;
  &.title {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 25%;
    margin-bottom: 0 !important;
  }
  &.content {
    font-size: 15px;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

.form_container {
  label {
    font-weight: normal;
  }
}

//Just for FF
input:required {
  box-shadow: none;
}

.orangeHeaderColor {
  color: $brand-dark-orange;
}

.orangeHeaderColor > a:hover {
  text-decoration: none;
}

.orangeHeaderColor > a:focus {
  text-decoration: none;
}

#notification {
  i {
    cursor: pointer;
  }
  a {
    color: #000000;
  }
  ul {
    right: 5px;
    top: 58px;
    width: 250px;
    > li {
      margin: 0;
    }
    > a {
      padding: 20px 20px 0 20px
    }
  }
  .notification-circle {
    position: absolute;
    right: 25px;
    top: 30px;
    color: $brand-dark-orange;
  }

  .notification-count {
    position: absolute;
    right: 28px;
    top: 30px;
    font-size: 10px;
    color: #ffffff;
    display: block;
    width: 15px;
    text-align: center;
  }
  .notification-all {
    text-transform: initial;
    font-size: 13px;
    padding: 10px 0;
    a {
      color: $brand-dark-orange;
    }
  }
  .notification-time {
    font-size: 11px;
    color: $brand-gray;
    margin-bottom: 20px;
  }
  .notification-name {
    padding-top: 20px;
    font-size: 13px;
    margin-bottom: 0;
    overflow-x: auto;
  }
}

.username {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  float: left;
  word-wrap: break-word;
  white-space: nowrap;
  margin: 0px;
}

// Tablet breakpoint
@media (max-width: $screen-sm-min) {
  .form_container {
    width: 100%;
  }
}

// file upload button, which has input type file
.fileUpload {
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: inherit;
}

.btn-brand-dark {
  background-color: #353E4C;
  color: #FFF;
}

.modal-upload-success {
  .fa {
    color: #00A867;
  }
  .modal-body {
    padding: 50px;
  }
}

.para-with-subhead {
  margin-bottom: 0;
}

.para-subhead {
  color: #aaa;
}

.notification-count {
  position: absolute;
  right: 23px;
  top: 36px;
  font-size: 12px;
  color: #ffffff;
}

.notification_list_head {
  li {
    padding: 10px 20px;
  }
}

.notification_list {
  &:last-child li:last-child {
    border-bottom: none;
  }
  .notification-date {
    text-transform: uppercase;
  }
  li {
    list-style-type: none;
    padding: 15px 20px;
    border-top: 1px solid #E0E0E0;
    .notification-time {
      font-size: 12px;
      color: $brand-gray;
      margin: 0;
    }
    .notification-name {
      margin-bottom: 0;
    }
    span {
      color: $brand-heading-color;
    }
  }
}

#upload_list {
  border-bottom: 1px solid #E0E0E0;
  margin: -20px -60px 0px -60px;
  padding-bottom: 10px;
  span {
    margin: 0 60px;
  }
}

.notification-dropdown.dropdown-menu {
  > li {
    margin: 0 20px;
    &.ajax-loader img {
      display: block;
      margin: 10px auto;
    }
    > a {
      white-space: normal;
    }
  }
}

.content-header {
  display: inline-block;
  width: calc(100% - 59px);
  float: left;

  > h1 {
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.text-tiny {
  font-size: 11px;
}

.button-wide {
  min-width: 200px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

// custom styles nav, overriding the default bootstrap styles
.nav-custom-style {
  margin-bottom: 20px;
  border-bottom: none;
  li {
    margin-right: 15px;
    a {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.custom-nav-border {
  border-bottom: 1px solid #F95510;
}

.btn-brand-theme {
  background-color: #fc5510;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn-medium {
  font-size: 14px;
  line-height: 1;
  height: 50px;
  padding: 18px;
}

.btn-medium-alt {
  font-size: 14px;
  line-height: 1;
  height: 30px;
  padding: 8px;
  &:hover,
  &:focus {
    color: initial;
  }
}

.btn-medium-x-alt {
  font-size: 14px;
  line-height: 1;
  height: 35px;
  padding: 10px;
}

.hr-spaced-row {
  clear: both;
  padding: 15px 0;
}

.btn-gray {
  background-color: #F2F6FB;
  color: $brand-gray;
  border: 1px solid $brand-gray;
}

.text-light-gray,
.link-inactive {
  color: #AEAEB7;
}

.link-inactive {
  pointer-events: none;
}

.btn-inactive {
  background-color: #bababa;
  pointer-events: none;
}

.text-gray {
  color: $brand-gray;
}

.btn-stacked--reverse {
  .btn {
    margin-left: 15px;
  }
}

.btn-stacked {
  .btn {
    margin-right: 15px;
  }
}

.btn-theme-bordered {
  border-radius: 3px;
  color: #fc5510;
  background-color: #fff;
  border-color: #fc5510;
  display: inline-block;
  &:hover,
  &:focus {
    color: #fc5510;
  }
  &-hover {
    background-color: #fc5510;
    color: #fff;
  }
}

.fadeIn {
  @include animation-name(fadeIn);
  @include animation-duration(.5s);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.listing {
  list-style-type: none;
  padding-left: 0;
  &_item {
  }
}

// displaya a little dot before element it was added to
.blinker::before {
  content: ".";
  position: absolute;
  left: 4px;
  top: 15px;
  z-index: 1;
  color: #867878;
  font-size: 30px;
  line-height: 15px;
}

.nav.nav-tabs.gmr-tabs {
  border-bottom: none;
  > li {
    > a {
      text-transform: uppercase;
      font-size: 14px;
    }
    > a:hover, a:focus, a {
      text-decoration: none;
      color: #555;
      background-color: transparent;
      border: none;
      padding: 0;
      margin-left: 10px;
      margin-right: 10px;
    }
    &.active a {
      color: $brand-dark-orange;
      border-bottom: 1px solid $brand-dark-orange;
    }
  }
}

.retag_file_subdest {
  border: 2px dashed #e5e5e5;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 5px;
  .list_file_item {
    background: #f8f8f8;
    position: relative;
    padding: 5px 20px;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
  }
}

.retag_file-heading {
  cursor: pointer;
  outline-style: none;
}

.retag-all_files-source {
  margin: 15px 0;
  .list_file_item {
    margin-bottom: 10px;
    cursor: -webkit-grab;
    cursor: grab;
    padding: 5px 20px;
    position: relative;
  }
}

.list_file_item {
  word-break: break-all;
  &.ui-draggable-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    padding: 5px 20px;
  }
}

.save-btn {
  margin: 15px;
}

.scrollable-Left {
  height: 30vh;
  overflow-y: auto;
}

.scrollable-Right {
  height: 70vh;
  overflow-y: auto;
}

.retag-all_files-attr {
  margin: 15px;
}

.retag-all_files-source {
  .action-file-remove {
    display: none;
  }
}

.retag_file_subdest {
  .retag-all_files-attr {
    .action-file-remove {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}

//
@keyframes blink_alert {
  0% {
    border: 2px solid $brand-dark-orange;
  }
  25% {
    border: 2px solid #E5E5E5;
  }
  50% {
    border: 2px solid $brand-dark-orange;
  }
  65% {
    border: 2px solid #E5E5E5;
  }
  75% {
    border: 2px solid $brand-dark-orange;
  }
  100% {
    border: 2px dashed #E5E5E5;
  }
  80% {
    border: 2px dashed $brand-dark-orange;
  }
  100% {
    border: 2px dashed #E5E5E5;
  }
}

@-webkit-keyframes blink_alert {
  0% {
    border: 2px solid $brand-dark-orange;
  }
  25% {
    border: 2px solid #E5E5E5;
  }
  50% {
    border: 2px solid $brand-dark-orange;
  }
  65% {
    border: 2px solid #E5E5E5;
  }
  75% {
    border: 2px solid $brand-dark-orange;
  }
  100% {
    border: 2px dashed #E5E5E5;
  }
  80% {
    border: 2px dashed $brand-dark-orange;
  }
  100% {
    border: 2px dashed #E5E5E5;
  }
}

.invalid-action {
  @include animation-name(blink_alert);
  @include animation-duration(.5s);
}

.table.gmr-table {
  margin-bottom: 0;

  th.gmr_table-header {
    text-transform: uppercase;
    font-size: 13px;
    padding:10px;
    span {
      padding-right: 5px;
    }
  }
  td.gmr_table-content {
    padding: 15px;
    > div {
      vertical-align: top;
      word-wrap: break-word;
      width: 11em;
      > span {
        margin-right: 10px;
        float: left;
      }
    }
  }
  .content {
    padding: 0 0 0 53px;
    position: relative;
    margin-bottom: 20px;
    img {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  thead > tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    > th {
      text-transform: uppercase;
      font-size: 12px;
      &.column > .columnContent{
        cursor: move;
      }
    }
  }
  tbody > tr {
    border-bottom: 1px solid #ddd;
    .fieldContent {
      cursor: move;
    }
  }

  th, td {
    border: none;
    vertical-align: middle;
  }
}

.box-shodow-none {
  box-shadow: none;
}

.custom-dropdown {
  &--large {
    font-size: 1.5em;
    > select {
      height: 45px;
    }
  }

  &--small {
    font-size: 0.9em;
    > select {
      height: 45px;
    }
  }

  > select {
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
  }

  &--white {
    > select {
      background-color: #fff;
      color: #444;
    }
  }

  &--black {
    > select {
      background-color: #333;
      color: #fff;
    }
  }

}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    > select {
      padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
      border: 0;
      border-radius: 3px;
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: none;
      width: 100% !important;
    }

    > select[disabled] {
      color: rgba(0, 0, 0, .3);
    }

    &:before, &:after {
      content: "";
      position: absolute;
      pointer-events: none;
    }

    &:after {
      content: "\25BC";
      height: 1em;
      font-size: .625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -.5em;
    }

    &:before {
      /*  Custom dropdown arrow cover */
      width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
    }

    &--disabled::after {
      color: rgba(0, 0, 0, .1);
    }

    /* White dropdown style */
    &--white::before {
      background-color: #fff;
      border-left: 1px solid rgba(0, 0, 0, .1);
    }

    &--white::after {
      color: rgba(0, 0, 0, .9);
    }

    &--black::after {
      color: #fff;
    }
  }

  /* FF only temp fix */
  @-moz-document url-prefix() {
    .custom-dropdown {
      > select {
        padding-right: .9em
      }

      &--large > select {
        padding-right: 1.3em
      }

      &--small > select {
        padding-right: .5em
      }
    }
  }
}
@media all and (-ms-high-contrast:none) {
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    > select {
      padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
      border: 0;
      border-radius: 3px;
      -webkit-appearance: none;
      appearance: none;
      width: 100% !important;
      &::-ms-expand {
        display:none;
      }
    }

    > select[disabled] {
      color: rgba(0, 0, 0, .3);
    }

    &:before, &:after {
      content: "";
      position: absolute;
      pointer-events: none;
    }

    &:after {
      content: "\25BC";
      height: 1em;
      font-size: .625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -.5em;
    }

    &:before {
      /*  Custom dropdown arrow cover */
      width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
    }

    &--disabled::after {
      color: rgba(0, 0, 0, .1);
    }

    /* White dropdown style */
    &--white::before {
      background-color: #fff;
      border-left: 1px solid rgba(0, 0, 0, .1);
    }

    &--white::after {
      color: rgba(0, 0, 0, .9);
    }

    &--black::after {
      color: #fff;
    }
  }
}

// fix for browsers that don't support details and summary behaviour
.no-details details {
  &:not(.open) {
    > ul {
      display: none !important;
    }
  }
  summary:before {
    content: "\f0da";
    font: normal normal normal 14px/1 FontAwesome;
  }
  &.open {
    > summary:before {
      content: "\f0d7";
    }
  }
}

.hr_normal {
  margin: 0;
}

.icon-tag {
  position: absolute;
  left: 3px;
  top: 7px;
}

.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

span.ellipsis {
  display: block;
}

.form_container .field.numberHeading {
  .workNumber {
    display: inline-block;
    width: calc(70% - 50px);
  }
  .extnName {
    display: inline-block;
    margin: 0px 10px 0px 5px;
    width: 30px;
    text-align: right;
  }
  .extnInput {
    display: inline-block;
    width: 30%;
    float: right;
  }
}

.cal-input-wrap {
  position: relative;
  display: block;
  .form-control[readonly] {
    cursor: pointer;
    background-color: transparent;
  }
  .fa-calendar {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 22px
  }
}

// filter bar dropdown styles
.filter-bar {
  .filter-hinttxt {
    font-size: 12px;
    color: #999;
    margin-top: 3px;
  }
  .filters_dropdown {
    width: 100px;
    float: left;
    margin-bottom: 20px;
    .divider {
      margin: 0;
    }
    > .dropdown-menu {
      padding: 0;
    }
  }

  .filter_list {
    width: calc(100% - 110px);
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0px;
    &--item {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      background: #e5e5e5;
      border-radius: 10px;
      padding: 2px 25px 2px 10px;
      margin-bottom: 5px;
      border: 1px solid transparent;
      font-size: 14px;
      max-width: 280px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &:hover {
        border-color: #999;
        background: #ccc;
      }
    }
  }
  .remove_filter_tag {
    cursor: pointer;
    margin-left: 5px;
    position: absolute;
    right: 8px;
    top: 4px;
  }
  .dropdown-submenu {
    position: relative;
    border-bottom: 1px solid #eee;
    > .filters_link {
      padding: 10px 15px;
      white-space: pre-wrap;
    }
  }
  .dropdown-menu {
    width: 300px;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: calc(100% + 7px);
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 15px;
    width: 250px;
    li {
      margin-bottom: 10px;
      position: relative;
    }
  }
  .dropdown-submenu > .dropdown-menu:before {
    content: " ";
    position: absolute;
    left: -7px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-right-color: #fff;
  }
  .dropdown-submenu > .filter_active + .dropdown-menu {
    display: block;
  }
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
  .select2-choices {
    background-color: #fff;
  }
}

// ============== end dropdown styles =========

.text_wrap {
  -ms-word-break: break-all;
  word-break: break-all;
}

// multilevel dropdown styles
.dropdown-submenu {
  position: relative;
  > .task_filters_link {
    padding: 10px 15px;
    white-space: pre-wrap;
  }
}

.select2-container.select2Input.gmr-select2 {
  height: 50px;
  width: 100%;
  .select2-choice {
    background-color: #353E4C;
    height: 50px;
    border-radius: 3px;
  }
  .select2-choice .select2-chosen {
    margin-top: 8px;
    color: #F5F5F5;
  }
  .select2-arrow {
    margin-top: 8px;
    border-left: none;
  }
}

.dropdown-menu {
  width: 300px;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: calc(100% + 7px);
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 15px;
  width: 250px;
  li {
    margin-bottom: 10px;
  }
}

.dropdown-submenu > .dropdown-menu:before {
  content: " ";
  position: absolute;
  left: -7px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  border-right-color: #fff;
}

.dropdown-submenu > .filter_active + .dropdown-menu {
  display: block;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

// ============== end dropdown styles =========

.padding_none {
  padding: 0;
}

.select2-container.select2Input.gmr-select2 {
  height: 50px;
  width: 100%;
  .select2-choice {
    background-color: #353E4C;
    height: 50px;
    border-radius: 3px;
  }
  .select2-choice .select2-chosen {
    margin-top: 8px;
    color: #f5f5f5;
  }
  .select2-arrow {
    border-left: none;
    margin-top: 8px;
  }
}

// ============== custom bootstrap tab styles ============
.custom_tab_styles {
  .custom_tab_nav {
    .nav.nav-tabs {
      border-bottom: 1px solid #3e75c1;
      margin: 0 15px;
      > li {
        margin-bottom: 0px;
        > a {
          color: #aaa;
          font-size: 18px;
          text-transform: none;
          padding-left: 15px;
          padding-right: 15px;
          margin: 0;
          height: 100%;
          &:hover {
            color: #aaa;
            background-color: transparent;
            border-color: transparent;
          }
        }
        &.active {
          > a {
            color: #3e75c1;
            border-right: none;
            border-left: none;
            border-top: none;
            border-bottom: 3px solid #3e75c1;
            background-color: transparent;
            margin: 0;
            height: 100%;
            &:hover {
              color: #3e75c1;
            }
          }
        }
      }
    }
    &.plan_setup_nav .nav.nav-tabs, &.quote_packages_nav .nav.nav-tabs {
      border-bottom: 1px solid #fc5510;
      li.active > a {
        color: #fc5510;
        border-bottom: 3px solid #fc5510;
      }
    }
  }
}

.plan_setup_tabcontent {
  padding: 15px 10px;
}

p.note {
  font-size: 15px;
  color: #aeaeb7;
  margin: 20px 0px;
}
.searchTable {
  margin-left: 15px;
  margin-right: 15px;
.form_plan_clone {
  label {
    color:#bbb;
  }
}

.search-clone_table_heading {
  border-top: 1px solid #ccc;
  > thead {
  font-size: 13px;
  }
  td, th {
    vertical-align: middle;
  }
}
}
.searchFormPlan {
  margin-top: 25px;
  margin-left: 15px;
}
.selectWrap.form_control {
  height: auto !important;
  min-height: 50px;
}
.modal-large {
  .modal-dialog {}
  .modal-content {}
  .modal-body {
    height: 70vh;
  }
}
.modal-open .select2-drop {
  z-index: 9999;
}

/* generic select dropdown menu */
.select_menu {
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  background-color: #353E4C;
  color: #FFF;
  // height: 50px;
  width: 100%;
  .select2-choice {
    background-color: #353E4C;
    height: 50px;
    border-radius: 3px;
  }
  .select2-choice .select2-chosen {
    color: #F5F5F5;
  }
  .select2-arrow {
    margin-top: 8px;
    border-left: none;
  }
}
.pair_label_input {
  .pair {
    &_input {
      display: block;
      width: 100%;
    }
    &_label {}
  }
}
.requierd_asterick {
 color: $brand-dark-orange;
}
.table_upload_details {
  th {
    min-width: 120px;
  }
}
.input_lg {
  height: 50px;
}
.btn_add_spinner {
  float: left;
  margin-right: 15px;
  + .img-loading {
    padding: 15px 0;
  }
}
.block_row {
  margin-bottom: 15px;
  &_label {
    padding-top: 5px;
  }
  &_input {

  }
}
.section_head {
  display: inline-block;
  margin-bottom: 10px;
}
.input_width_md {
  width: 200px;
}
.row_spaced {
  margin-bottom: 15px;
}
.file_input_wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  > input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
}

/* TODO: following styles are to be used for all "confirmation only" modals */
.modal-confirmation {
  .modal-header {
    border-bottom: none;
  }
  .modal-dialog {
    width: 480px;
  }
  .modal-footer {
    > .btn {
      width: 48%;
      margin: 0;
      float: left;
      &:first-of-type{
        margin-right: 4%;
      }
    }
  }
}
.mark_relevant {
  margin: 20px 0 10px 0 !important;
  cursor: pointer !important;
  > input {
    margin-right: 5px;
  }
}
.select_disabled {
  opacity: .7;
}

.hidden-ruler {
  visibility: hidden;
}
#modal-update-profile {
 .modal-dialog {
    width: 460px;
 }
 .modal-header {
    border-bottom: none;
 }
}
.w150 {
  width: 150px;
}
.w100 {
  width: 100px;
}
.w250 {
  width: 250px;
}
.row_highlight {
  font-weight: bold;
  font-size: 1.1em;
}
.wide_table_container {
  -ms-overflow-y: auto;
  overflow-y: auto;
}
.link_disabled {
  opacity: .7;
  pointer-events: none;
}
.theme_disabled {
  border-color: #ccc;
  color: inherit;
  background-color: #ccc;
}

#confirm-popup {
  &.confirmModal {
      .confirm_buttons{
          display: block;
      }
      .alert_buttons {
          display: none;
      }
  }
  &.alertModal {
      .confirm_buttons{
          display: none;
      }
      .alert_buttons {
          display: block;
          text-align: center;
      }
  }
  .modal-dialog {
    width: 480px;
  }
  .modal-header {
   border-bottom: none;
  }
}
.listing-padding-disc {
  padding-left: 15px;
  list-style-type: disc;
  margin-top: 15px;
}
.dash_separator {
  border-top: 1px solid #111;
  margin: 3px 0;
}
.input_group_date_disabled {
  pointer-events: none;
}
.faux_space {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  height: 20px;
  clear: both;
}
.table_striped_vertical {
  tr td, th {
    border-top: none;
    border-right: 1px solid #e9e9e9;
    &:last-of-type {
      border-right: none;
    }
  }
  tbody {
    border-bottom: 1px solid #e9e9e9;
  }
  thead {
    border-top: 1px solid #e9e9e9;
    th {
      border-bottom: 1px solid #ddd !important;
    }
  }
}
/* common styles for benchmarking slider */
.section_benchmarking {
  .benchmarking_val {
    width: 20%;
  }
}
.benchmarking_wrap {
  background-color: #ccc;
  position: relative;
  width: 75%;
  margin-top: 8px;
  &::after {
    content: ' ';
    position: absolute;
    right: 0;
    width: 2px;
    top: -2px;
    height: 8px;
    background-color: #ccc;
  }
  &::before {
   content: ' ';
   position: absolute;
   left: 0;
   width: 2px;
   top: -2px;
   height: 8px;
   background-color: #FFA63B;
  }
  .benchmarking_slider {
    position: relative;
    height: 3px;
    background: #FFA63B;
    &::after{
      content: " ";
      width: 2px;
      height: 8px;
      background-color: #FFA63B;
      position: absolute;
      top: -2px;
      right: 0;
    }
  }
}
/*  */

.center_child_v {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.list--nested {
  padding-left: 35px;
}
/* styled checkboxes */

/* Base for label styling */
.checkbox_alt {
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 17px; height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 14px;
    color: #FFA94F;
    transition: all .2s;
  }
  [type="checkbox"]:checked + label:before {
    border: 1px solid #FFA94F;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
}

/* end of styled checkboxes */
.text-bold {
  font-weight: 600;
}
/* medium size select2, with height 35px */
.select2_md {
  height: 35px;
  .select2-choice {
    height: 35px;
  }
  .select2-choice,
  .select2-chosen {
    padding: 6px 7px;
  }
  .select2-arrow,
   {
    margin-top: 0;
  }
}
.link_toggle_nav {
  display: none;
}
.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(-90deg);
}

.noPadding {
  padding: 0;
}

.noPaddingLeftRight {
  padding-left: 0;
  padding-right: 0;
}

.noPaddingRight {
  padding-right: 0;
}

.noPaddingLeft {
  padding-left: 0;
}

.noMargin {
  margin: 0;
}

.noMarginTop {
  margin-top: 0;
}
.table_cell_spacing {
  > tbody > tr > td, th {
    padding: 15px !important;
  }
}
.select-theme-dark {
  border-radius: 3px;
  height: 50px;
  background-color: #353E4C;
  color: #FFFFFF;
  padding: 10px;
}
.boxed {
          border: 1px solid #ddd;
          padding: 5px;
        }
.chat_content {
  .users_chat{
      padding: 10px;
      &.task_chat {
          background-color: #ffffe0;
      }
      a {
        cursor: pointer;
      }
  }
  div.users {
    margin-bottom: 5px;
    .chat_text {
      padding: 0 5px;
    }
    .file_name_wrap {
      .fa {
        float: left;
        margin-right: 5px;
      }
      span {
        word-wrap: break-word;
        float: left;
      }
    }
  }
  div.profile_pic {
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 10px;
    img{
      display: block;
      max-width: 100%;
      min-height: 50px;
    }
  }
  p {
    padding: 5px 0px;
    font-size: 12px;
    margin: 0;
    word-wrap: break-word;
  }
  p.date {
    color: #aaa;
    font-size: 11px;
  }
}
.comment_box_wrap {
  position: relative;
  margin-bottom: 15px;
  .file_upload_msg {
    font-size: 14px;
    color: green;
    padding: 3px 10px;
    display: none;
  }
  .comment_textarea {
    resize: none;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 60px;
  }
  .upload_comment_btn {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 48px;
    width: 50px;
    background-color: #3e75c1;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
  }
  .comment_submit_btn {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 48px;
    width: 50px;
    background-color: #3e75c1;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
  }
}
.gmr_file_upload_files {
  padding: 5px 15px 20px 15px;

  .h4 {
    margin-bottom: 5px;
  }
  hr {
    margin: 10px 0px 15px 0px;
  }
  &--textarea{
    width: 100%;
    max-width: 100%;
    height: 100px;
    clear: left;
    border: 1px solid #DCDCDC;
  }
  &--comment-block{
    margin-bottom: 15px;
  }
  &--table {
    margin-bottom: 30px;
    table-layout: fixed;
    thead {
      text-transform: uppercase;
      th {
        min-width: 150px;
        border-top: 1px solid #ddd !important;
        border-bottom: 1px solid #ddd !important;
        text-transform: capitalize;
        &.product_name {
          width: 20%;
        }
        &.file_type,
        &.file_format,
        &.file_name {
          width: 15%;
        }
        &.file_comment {
          width: 25%;
        }
        &.file_size {
          width: 10%;
        }
      }
    }
    tbody {
      td {
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }
  &--comment {
    width: 30%;
  }
  &--fileUploadBtn {
    color: #353E4C;
    border: 1px solid #353E4C;
    background-color: #fff;
    text-transform: initial;
    &:hover {
      color: #000;
    }
  }
  &--upload-block{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    .btn {
      height: 35px;
      font-size: 13px;
    }
    table.selected_files{
      width: 100%;
      margin: 10px 0px;

      td {
        padding: 5px 5px;
      }
      .selectedFile {
        word-break: break-all;
      }
    }

    .progressWrap {
      display: none;
      margin: 0px 10px;
      float: left;
      width: calc(100% - 260px);
      position: relative;
      top: -16px;

      > .progress {
        margin: 6px 0px;
      }
    }
    .fileupload-comment {
      background: #e5e5e5;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }
}
.uploadFiles_btn_container{
table.selected_files{
  width: 100%;
  margin: 10px 0;

  td {
    padding: 5px 15px;
  }
  .selectedFile {
    word-break: break-all;
  }
}
}
.subscript_num {
  > sub {
    font-size: 60%;
    bottom: 0;
  }
}
.table th {
  font-weight: 500;
}
.select2-container .select2-choice {
    height: 36px;
}
.select_menu .select2-arrow {
  margin-top: 0;
}
label {
  font-weight: 500;
}
.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex
}
.flex-nowrap {
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}
.align-items-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.justify-content-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center
}
.text-green {
  color: #2e8b57 !important;
}
.text-red {
  color: indianred !important;
}
/* btn with height 35px, other individualy styled buttons to be replaced with this  */
.btn-md {
  height: 35px;
}
.resize-v {
  resize: vertical;
}
.align_items_center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mb25 {
  margin-bottom: 25px;
}
footer {
  background: #353E4B;
  color: #fff;
  padding: 15px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
   a {
    color: #FFF;
  }
  img {
    max-width: 150px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
html {
  // for sticky footer
  min-height: 100%;
  position: relative;
}
.modal-footer.text-center {
  text-align: center;
}
