// 1. Prevents scroll bar from blocking the content on IE 10



$i: 11;
@while $i <= 32 {
  .f#{$i} { font-size: $i + px; }
    $i: $i + 1;
}
.fl{float: left;}
.fr{float: right;}
.color666{color: #666;}
.color999{color: #999;}
.fN{font-weight: normal;}
.fB{font-weight: bold;}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
html {
  -ms-overflow-style: scrollbar; //1
}
.contentWrapper.fullwidthWrap {
    .new-header {
      padding: 0px 15px;
      > .container {
        width: 100%;
        padding: 0px 15px;
      }
    }
    .container.mainWrapper, .new-breadcrumb > .container{
        width: 100%;
    }
    .new-breadcrumb {
      padding: 10px 10px 10px 45px;
    }
}
.contentWrapper {
  padding-bottom: 50px;
  position: relative;
  min-height: 100%;
  input, textarea, select{
    box-shadow: none;
  }
  .fields_divider {
    margin-bottom: 5px;
    display: block;
    text-align: center;
  }
  .new-header {
    background-color: #fff;
    min-height: 60px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 0px;
    .navbar-header {
      display: table;
      margin: 8px 0;
      .navbar-brand {
        display: table-cell;
        height: auto;
        margin-top: 8px;
        color: #333;
        padding: 0;
        max-width: 250px;
        img {
        }
      }
    }
  }
  .user_company_name {
    padding-left: 15px;
    font-size: 14px;
    color: $orange-color;
    display: table-cell;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .phontomDiv {
      height: 108px;
  }
  .mainWrapper {
    background: #fff;
    padding: 0px;
    margin-bottom: 15px;
  }
  .new-breadcrumb {
    background: $orange-color;
    padding: 10px 0px;
    color: #fff;
    font-size: 18px;
    .in-active-brumb{
      color: #FFA98C;
    }
    a, a:hover {
      color: #fff;
      text-decoration: none;
    }
    .breadcrumb-panel{width: 90%;margin-left: 10px;}
    .fa-caret-right{
      font-size: 22px;
      position: relative;
      top: 2px;
    }
  }
  .user_designation {
    clear: both;
    margin: 2px 0 0 0;
  }
  .user_name, .user_designation {
    max-width: 160px;
    line-height: 1;
    display: block;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .dropdown_user_img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 100%;
  }
  .pageDataContainer{
      padding: 15px;
      > div {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      #newTemplateForm {
        .select2-chosen {
          color: #fff;
        }
      }
      .pageBtnTopBar {
          margin: 0;
          .customGmrButton {
            margin-right: 0;
          }
        }
      .noRecordFound {
          margin: auto;
          text-align: center;
          color: #666;
      }
      .noRecordFound.title {
        font-size: 20px;
        text-transform: uppercase;
      }
    .form_container {
      margin: auto;
    }
  }
  .new_employee_association {
    padding: 15px;
    .select2-container .select2-choices .select2-search-field input {
      color: white !important;
    }
  }
  .regDataContainer {
    padding: 15px;
    > .form_container {
      width: 50%;
      margin-left: 10%;
    }
  }
  #platform_files_dashboard {
    padding: 15px;
    #create,#search {
      padding: 15px;
    }
  }
  .container.mainWrapper {
    p.notify-alert {
      margin-bottom: 0;
    }
  }
  .new_acc_page,#platform_file_edit {
    padding: 15px;
  }
  .newversion_container {
    background-color: #f2f2f2;
    p.note {
      float: left;
      margin-bottom: 0;
    }
    #templateContainer {
      width: 100%;
      float: none;
      margin: 20px 0 0;
      display: block;
      .nav.nav-tabs.gmr-tabs {
        float: left;
        li {
          margin-bottom: 1px;
          &.active {
            margin-bottom: 0;
          }
          a {
            margin-left: 0;
            margin-right: 20px;
          }
        }
      }
      .addNetwork {
        margin-right: 0;
      }
      .tab-section.tab-content > .sheet > .templateSectionBar {
        left: -56px;
        .vertical-line {
          left: 28px;
        }
        .nav-tabs > li {
          left: 7px;
        }
      }
    }
    .sheetContent {
      .section {
        overflow: auto;
        width: 100%;
        padding-bottom: 5px;
      }
    }
  }
}
// styles for dropdown in the right corner
.navbar-user-info {
  height: 40px;
  z-index: 1;
  margin-left: 15px;
  border-left: 1px solid #F2F2F2;
  width: 235px;
  .caret {
    position: absolute;
    right: -5px;
    top: 7px;
  }
  > .dropdown-menu {
    background: #FFF;
    padding: 0;
    right: 0;
    left: auto;
    border-radius: 0;
    width: 200px;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.175);
    > li:not(:last-of-type) {
      border-bottom: 1px solid #e5e5e5;
    }
  }
  .dropdown-toggle {
    cursor: pointer;
    padding: 0 10px;
    position: relative;
    &:hover {
      color: $orange-color;
    }
  }
  .dropdown_link {
    padding: 10px 20px;
    &:hover {
      color: #FFF !important;
      background-color: $greyish-green-color !important;
    }
  }
}
.top-navbar {
  float: left;
  height: 40px;
  margin: 10px 20px;
  border-left: 1px solid #F2F2F2;
  ul {
    padding: 0 10px;
    li {
      float:left;
      list-style:none;
      margin: 0px 5px;
      font-size: 14px;
      &:hover ul.submenus {
        display: block;
      }
      a {
        color: #000;
        padding: 9px 5px 3px 5px;
        display: inline-block;
        text-decoration: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        position: relative;
        outline: none;
      }
      a.active, a:hover, a:focus, a:active {
          color: $brand-dark-orange;
          border-color: $brand-dark-orange;
          text-decoration: none;
      }
      ul.submenus {
        display: none;
        position: absolute;
        background: #fff;
        width: auto;
        padding: 0;
        -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.175);
        box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.175);
        z-index: 100;
        &:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 0 6px 6px;
          border-color: #FFFFFF transparent;
          display: block;
          width: 0;
          z-index: 1;
          margin-left: -9px;
          top: -6px;
          left: 16px;
        }
        li {
          white-space: normal;
          list-style: none;
          float:none;
          margin: 0;
          a {
            padding: 10px 40px;
            display: block;
            border:none;
            max-width: 800px;
            &:hover {
              color: #FFF;
              background-color: $greyish-green-color;
            }
          }
        }
      }
    }
  }
}

.top_nav_container,
.main_notifications {
  margin-top: 10px;
  #notification {
    position: relative;
    .notifications-reload {
      position: relative;
      display: inline-block;
    }
    ul {
      top: 36px;
      left: -94px;
    }
    #notificationCount {
      position: relative;
      top: -50px;
      right: -32px;
    }
    .notification-count {
     right: 27px;
    }
  }
}
.main_notifications {
  #notification ul {
    left: -194px;
  }
}

.site_head_fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11000;
}
.select2-drop-mask {
  z-index: 998;
}
.new_nav {
  background-color: white;
  width: 100%;
  .dashboard_wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    height:130px;
    .scroll_nav_list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:1628px;
    margin-left:12px;
    margin-top:0px;
    }
    .scroll_nav_list .subitem{
      position: relative;
    }
  }
  .scroller {
    text-align:center;
    cursor:pointer;
    display:none;
    padding:7px;
    padding-top:11px;
    white-space:no-wrap;
    vertical-align:middle;
    background-color:#fff;
    margin-top: 40px;
  }
  .scroller-right{
    float:right;
  }
  .scroller-left {
    float:left;
  }
  .header-nav-img {
    height: 30px;
  }
  .dashboard_nav_list {
    height: 130px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    .text-link {
      text-decoration: none;
      color: #878787;
      font-size: 14px;
      letter-spacing: 0.2px;
      margin-top: 10px;
    }
    .back {
      .text-link {
        font-size: 12px;
        text-indent: -10px;
        padding-left: 20px;
      }
    }
    > .subitem,
    .subitem-container {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -ms-flex-line-pack: stretch;
      -webkit-align-content: stretch;
      align-content: stretch;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-preferred-size: 100%;
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-right: 1px solid rgba(221, 221, 221, 0.5);
      transition: background-color .3s ease-in;
      .subitem-flip {
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        .back a {
          display: block;
          margin-bottom: 10px;
          padding: 0 10px;
          text-align: left;
          text-decoration: none;
          .fa-circle{
            font-size: 9px;
            margin-right: 10px;
            position: relative;
            top: -1px;
          }
        }
      }
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        background-color: #E7ECF1;
        text-decoration: none;
      }
    }
  }
}
/* ie only code */
@media screen and (min-width:0\0) {
  .dashboard_nav_list {
    a,.subitem-container {
      display: inline-block;
      width: 11.11%;
    }
  }
}

.subitem-container{
  .back {
    display: none;
  }
  &:hover {
    .front {
      display: none;
    }
    .back {
      display: block;
    }
  }
}
.employer-pageview,
.carrier-pageview, .data_entry-pageview {
  .link_toggle_nav {
    display: inline-block;
    cursor: pointer;
  }
  .icon_link_toggle {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}
.admin-pageview {
  .user_company_name  {
    max-width: 120px;
  }
  .custom_tab_styles .custom_tab_nav .nav.nav-tabs {
    border-bottom-color: #FC5510;
    li.active > a {
     color: #FC5510;
     border-bottom-color: #FC5510;
   }
  }
}
@-webkit-keyframes fadeIn_grow {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
     -webkit-transform: scale(1);
     transform: scale(1);
   }
}
@-moz-keyframes fadeIn_grow {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
     -webkit-transform: scale(1);
     transform: scale(1);
   }
}
@keyframes fadeIn_grow {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  50% {
     -webkit-transform: scale(1.3);
     transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.fade_squeeze {
  -webkit-animation: fadeIn_grow .5s 1;
  animation: fadeIn_grow .5s 1;
}
