// override.scss

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(<%= asset_path("bootstrap/glyphicons-halflings-regular.eot") %>); /* IE6-IE8 */
  src: url(<%= asset_path("bootstrap/glyphicons-halflings-regular.eot") + "?#iefix" %>) format('embedded-opentype'), /* IE6-IE8 */
  url(<%= asset_path("bootstrap/glyphicons-halflings-regular.woff2") %>) format('woff2'), /* Modern Browsers */
  url(<%= asset_path("bootstrap/glyphicons-halflings-regular.woff") %>) format('woff'), /* Modern Browsers */
  url(<%= asset_path("bootstrap/glyphicons-halflings-regular.ttf") %>)  format('truetype'), /* Safari, Android, iOS */
  url(<%= asset_path("bootstrap/glyphicons-halflings-regular.svg") + "#glyphicons_halflingsregular" %>) format('svg'); /* Legacy iOS */
}

.outer {
  @include clearfix();
}

.inner {
  padding: 0 $container-gutter-width;
}

html, body {
  height: 100%;
}

footer {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #aaa;
}

.modal {
  z-index: 11001;
}
