// styles based on vertivcals
.employer-pageview,
.carrier-pageview {
    a {
      color: $brand-blue;
    }
    .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active{
      background-color: $brand-blue;
      border-color: $brand-blue;
    }
    .btn-theme-bordered {
        color: $brand-blue;
        border-color: $brand-blue;
    }
    .form_container .uploadContainer > .uploadLogo{
        border-color: $brand-blue;
        color: $brand-blue;
    }
    .new-breadcrumb {
      background: $brand-blue;
      .in-active-brumb{
        color: #9DBBDD;
      }
    }
    #notification .notification-all a,
    #notification .notification-circle,
    .top-navbar a.active,
    .top-navbar a:hover,
    .top-navbar a:active,
    .top-navbar a:focus,
    .customGmrButton,
    .navbar-user-info .dropdown-toggle:hover {
      color: $brand-blue;
      border-color: $brand-blue;
    }
    .navbar-user-info .dropdown_link:hover,
    .save_btn {
      border-color: $brand-blue;
    }
  .customGmrButton {
    &:hover, &:focus {
      color: $brand-blue;
    }
  }
    .btn_section_theme_alt { }
    .btn_section_theme {
      background-color: $brand-blue;
    }
    .uploadLogo {
      &:hover,
      &:active,
      &:focus, & {
        border-color: $brand-blue;
        color: $brand-blue;
      }
    }
    .user_company_name {
      color: $brand-blue;
    }
    .site_head_fixed {
      .navbar-header .navbar-brand {
        margin-left: 0;
      }
    }
  }
