@import "bootstrap/_variables";
@import "bootstrap/mixins/_vendor-prefixes";
@import "bootstrap/mixins/_forms";

$orange-color: #fc5510;
$greyish-green-color: #353E4B;
$white: #fff;
$light-grey: #eee;
